/*
    angular-bootstrap
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*
    eventDrops
*/
.zoom {
    fill: transparent;
    cursor: pointer;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line {
        stroke: black;
        fill: none;
        stroke-width: 1px;
}

.y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}

.graph-body .line circle {
    opacity: 0.2;
}

.start, .end {
    font-weight: bold;
}

g.line text {
}

/*
    app.js specific style
*/
.dashboard-legend {
    text-align: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.mg-left {
    margin-left: 5px;
}